<?xml version='1.0' encoding='utf-8'?>
<widget id="com.smartmirror.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <platform name="android">
        <preference name="Fullscreen" value="true" />
		<preference name="Orientation" value="landscape" />
    </platform>
	
	<name>MirrorBlank</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
