<?xml version='1.0' encoding='utf-8'?>
<widget id="com.smartmirror.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" versionCode = "1.0">
    <platform name="android">
        <preference name="Fullscreen" value="true" />
		<preference name="Orientation" value="landscape" />
    </platform>
	
	<name>MirrorBlank</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
	<preference value="cli-6.3.0" name="phonegap-version"/>
	<plugin name="cordova-plugin-insomnia" version="4.1.0" source="npm" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm"/>
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<allow-navigation href="*"/>
	<access origin="*"/>
</widget>
